---
// Communities component for FLISol Guayaquil with improved accessibility

const communities = [
  {
    name: "ETH Ecuador",
    logo: "eth_ecuador.webp",
    alt: "Logo ETH Ecuador",
    link: "https://ethereum.org/es/community/",
  },
  {
    name: "FunPython",
    logo: "funpython_logo.webp",
    alt: "Logo FunPython",
    link: "https://funpython.org/",
  },
  {
    name: "HerUX",
    logo: "herux.webp",
    alt: "Logo HerUX",
    link: "https://www.instagram.com/her.uxec/",
  },
  {
    name: "Kokoa",
    logo: "kokoa_logo.webp",
    alt: "Logo Kokoa",
    link: "https://www.kokoa.club/",
  },
  {
    name: "CondorCoders",
    logo: "condorcoders.webp",
    alt: "Logo CondorCoders",
    link: "https://www.instagram.com/condorcoders/",
  },
  {
    name: "WordPress Guayaquil",
    logo: "wordpress.webp",
    alt: "Logo WordPress Guayaquil",
    link: "https://wpguayaquil.org/",
  },
  {
    name: "Phycom",
    logo: "phycom.webp",
    alt: "Logo Phycom",
    link: "http://phycom.oe.espol.edu.ec/",
  },
  {
    name: "AWS UG Ecuador",
    logo: "aws-ug-ecuador.webp",
    alt: "Logo AWS User Group Ecuador",
    link: "https:/www.awsugecuador.com/",
  },
];
---

<section
  id="comunidades"
  class="bg-secondary container-fluid py-86 px-4"
  aria-labelledby="communities-heading"
>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-3">
        <div class="d-flex h-100 flex-column justify-content-center">
          <h2
            id="communities-heading"
            class="ds-xs-4 fw-bold text-primary text-100 my-auto"
          >
            Comunidades
          </h2>
          <p class="text-black mt-3 d-lg-block d-none">
            Organizaciones que apoyan y participan en FLISol Guayaquil 2025
          </p>
        </div>
      </div>
      <div class="col-lg-9">
        <!-- Carousel with accessibility improvements -->
        <div
          class="carouselTicker carouselTicker-left position-relative z-1 mt-lg-0 mt-8"
          aria-label="Carrusel de logotipos de comunidades participantes"
          role="region"
        >
          <ul class="carouselTicker__list">
            {
              communities.map((community) => (
                <li class="carouselTicker__item">
                  <a
                    href={community.link}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="community-link"
                  >
                    <img
                      class="object-fit-contain"
                      src={`/assets/images/comunidades/${community.logo}`}
                      alt={community.alt}
                      width="200"
                      height="80"
                      loading="lazy"
                    />
                    <span class="visually-hidden">{community.name}</span>
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .community-link {
    display: block;
    text-decoration: none;
    transition: transform 0.3s ease;
  }

  .community-link:hover,
  .community-link:focus {
    transform: translateY(-5px);
  }

  .community-link:focus {
    outline: 2px solid #4c7bd0;
    outline-offset: 4px;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
</style>
