---
// Registrations component for FLISol Guayaquil
---

<section id="inscripciones" class="bg-primary py-86 px-4">
  <div class="container d-flex flex-column gap-4">
    <h2 class="ds-xs-4 fw-bold text-white text-100 my-auto">
      Inscripciones
    </h2>
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
        <div
          class="card h-100 card-inscripcion bg-white rounded-4 p-4 gap-2"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <img
            src="/assets/icons/people-nearby.svg"
            width="45"
            height="45"
            alt="Icono de personas"
          />
          <h3 class="text-primary text-100">Quiero ser <br /> Voluntario</h3>
          <p>
            Buscamos voluntarios apasionados por la tecnología, con
            habilidades para trabajar en equipo, comunicarse efectivamente
            y brindar un excelente servicio.
          </p>
          <a
            target="_blank"
            rel="noopener"
            href="https://forms.gle/Vq8eNP8Fr93eWXoRA"
            class="btn btn-outline-primary bg-primary hover-up text-100 p-2 px-4 mt-auto"
            >Inscríbete</a
          >
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
        <div
          class="card h-100 card-inscripcion bg-white rounded-4 p-4 gap-2"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <img
            src="/assets/icons/microphone.svg"
            width="45"
            height="45"
            alt="Icono de ponente"
          />
          <h3 class="text-primary text-100">
            Quiero ser <br />
            Speaker
          </h3>
          <p>
            Al ser ponente, estarás apoyando la difusión del conocimiento,
            la innovación abierta y la colaboración en el ecosistema
            tecnológico local. Esperamos tu propuesta de charla o taller
            para el evento.
          </p>
          <a
            target="_blank"
            rel="noopener"
            href="https://forms.gle/e2q72HMb78QfLkQr6"
            class="btn btn-outline-primary bg-primary hover-up text-100 p-2 px-4 mt-auto"
            >Inscríbete</a
          >
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
        <div
          class="card h-100 card-inscripcion bg-white rounded-4 p-4 gap-2"
          data-aos="fade-up"
          data-aos-delay="300"
        >
          <img
            src="/assets/icons/laptop.svg"
            width="45"
            height="45"
            alt="Icono de proyecto"
          />
          <h3 class="text-primary text-100">
            Quiero presentar <br />
            Mi Proyecto
          </h3>
          <p>
            El FLISoL Guayaquil 2025 es una oportunidad única para que tu
            proyecto o iniciativa se vincule con una comunidad vibrante y
            apasionada por la tecnología y el software libre. Esperamos tu
            propuesta de proyecto o iniciativa.
          </p>
          <a
            target="_blank"
            rel="noopener"
            href="https://forms.gle/P6VQKnfqGYt3fKnf7"
            class="btn btn-outline-primary bg-primary hover-up text-100 p-2 px-4 mt-auto"
            >Inscríbete</a
          >
        </div>
      </div>
    </div>
  </div>
</section> 