---
// Sponsors component for FLISol Guayaquil
---

<section id="sponsors" class="bg-secondary py-86 px-4">
  <div class="container d-flex flex-column gap-4 align-items-center">
    <h2 class="ds-xs-3 fw-bold text-primary text-100 my-auto">
      Sponsors
    </h2>
    <ul
      class="d-flex flex-wrap gap-2 align-items-center justify-content-center list-unstyled"
      data-aos="fade-up"
    >
      <li>
        <img
          src="/assets/images/sponsors/lexa_logo.webp"
          alt="Logo Lexa"
          class="object-fit-contain"
          width="200"
          loading="lazy"
        />
      </li>
      <li>
        <img
          src="/assets/images/sponsors/mento_logo.webp"
          alt="Logo Mento"
          class="object-fit-contain"
          width="200"
          loading="lazy"
        />
      </li>
      <li>
        <img
          src="/assets/images/sponsors/ucsg_logo.webp"
          alt="Logo UCSG"
          class="object-fit-contain"
          width="200"
          loading="lazy"
        />
      </li>
    </ul>
  </div>
</section> 